/* RESET */
body, h1, h2, p, ul, li, a{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Nunito", "Helvetica", "Arial", sans-serif;
    color: #222;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: currentColor;
}

img{
    display: block;
    max-width: 100%;
}

*{
    box-sizing: border-box;
}

/* Header */
.super-info-bg{
    padding-top: 10px;
    color: #FFF;
    background-color: #122AB2;
}

.super-info{
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.super-info > *{
    margin: 0 10px 10px;
}

.header-bg{
    background-color: #2C70FF;
}

.menu{
    max-width: 960px;
    padding: 15px 0;
    margin: 0 auto;
    color: #FFF;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.menu-logo a{
    margin: 0 10px;
    font-size: 2.25em;
    font-weight: bold;
}

.menu-nav ul{
    display: flex;
    flex-wrap: wrap;
}

.menu-nav a{
    padding: 10px;
    font-size: 1.25em;
    display: block;
}

.menu a:hover{
    color: #122AB2;
}

/* Introdução */
.introducao{
    max-width: 960px;
    padding: 0px 10px;
    margin: 60px auto;
    font-size: 3em;
    line-height: 1;
}

.introducao .quebra-linha{
    display: block;
}


/* Sobre */
.sobre{
    max-width: 960px;
    padding: 60px 0;
    border-top: 2px solid #2C70FF;
    border-bottom: 2px solid #2C70FF;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.sobre > *{
    margin: 0 10px;
}

.sobre-info{
    /* Grow Shrink Basis */
    flex: 2 1 300px;
}

.sobre-info h1{
    margin-bottom: 0.5em;
    font-size: 3em;
}

.sobre-info p{
    margin-bottom: 1em;
    font-size: 1.25em;
    line-height: 1.4;
    color: #7C7C7C;
}

.sobre-img{
    flex: 1 1 160px;
}

/* Produtos */
.produtos{
    max-width: 960px;
    margin: 60px auto;
}

.produtos h1{
    margin: 0 10px 60px;
    font-size: 3em;
}

.produtos-container{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}

.produtos-item{
    margin: 10px;
    flex: 1 1 175px;
}

.produtos-item h2{
    padding: 60px 20px;
    font-size: 3em;
    color: #A4A4A4;
    background-color: #F7F7F7;
}

.roxo{
    border-top: 8px solid #AE81FF;
}

.rosa{
    border-top: 8px solid #F9256E;
}

.azul{
    border-top: 8px solid #66D9EB;
}

/* Preços */
.precos{
    padding: 60px;
    background-color: #F7F7F7;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}

.preco-item{
    padding: 20px;
    border: 4px solid #FFF;
    margin: 10px;
    flex: 1 1 260px;
}

.preco-item h2{
    margin-top: 20px;
    font-size: 3em;
    text-align: center;
    color: #A4A4A4;
}

.preco-item p{
    max-width: 300px;
    padding: 10px 0 5px;
    border-top: 4px solid #FFF;
    border-bottom: 4px solid #FFF;
    margin: 20px auto;
    font-size: 3em;
    font-weight: bold;
    text-align: center;
}

.preco-item sup{
    font-size: 1.5rem;
}

.preco-item ul{
    max-width: 300px;
    margin: 20px auto;
    font-size: 1.25em;
    font-style: italic;
    color: #7C7C7C;
}

.preco-item li{
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.preco-item li::after{
    content: '';
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #2C70FF;
    display: block;
}

.preco-item a{
    max-width: 300px;
    padding: 15px 0;
    border: 4px solid;
    margin: 20px auto;
    font-size: 2.25em;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: #222;
    display: block;
}

@media (max-width: 800px){
    .precos{
        padding: 60px 10px;
    }

    .precos>.preco-item:nth-child(2){
        order: -2;
    }

    .precos>.preco-item:nth-child(3){
        order: -1;
    }
}

/* Qualidade */
.qualidade{
    max-width: 960px;
    margin: 60px auto;
    display: flex;
    flex-wrap: wrap;
}

.qualidade-item{
    flex: 1 1 300px;
    margin: 20px 10px;
}

.qualidade-item h2{
    margin-bottom: 20px;
    font-size: 2.25em;
    color: #A4A4A4;
}

.qualidade-item h2::before{
    content: '';
    width: 8px;
    height: 30px;
    margin-right: 10px;
    display: inline-block;
}

.qualidade-item:nth-of-type(3n+1) h2::before{
    background-color: #AE81FF;
}

.qualidade-item:nth-of-type(3n+2) h2::before{
    background-color: #F9256E;
}

.qualidade-item:nth-of-type(3n+3) h2::before{
    background-color: #66D9EB;
}

.qualidade-item p{
    font-size: 1.25em;
    line-height: 1.4;
    color: #7C7C7C;
}